
<!-- <footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a>
             Creative Tim -->
          <!-- </a>
        </li>
        <li>
          <a > -->
            <!-- About Us -->
          <!-- </a>
        </li>
        <li>
          <a> -->
            <!-- Blog -->
          <!-- </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy; -->
      <!-- {{test | date: 'yyyy'}}, Designed by -->
      <!-- <a  target="_blank"></a>
      <a  target="_blank"></a>
    </div>
  </div>
</footer>  -->
