<div class="panel-header panel-header-lg" style="overflow-x:auto">

  <p-progressSpinner *ngIf="topGainerNotReady" [style]="{width: '100px', height: '100px','padding-left': '900px','padding-top':'30px'}" styleClass="custom-spinner"
    strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
  
    <ng-container appendTo="body" pTooltip={{topGainerDefinition}} tooltipPosition="bottom" tooltipZIndex="1000">
    <h1 class="topleft">{{pageTitle}}{{topGainer |titlecase}}</h1>
  </ng-container>
  
    <canvas  baseChart id="bigDashboardChart"
                [datasets]="topGainerLineChartData"
                [labels]="topGainerLineChartLabels"
                 [colors]="topGainerLineChartColors"
                [options]="topGainerLineChartOptions"
                [chartType]="topGainerChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
               
</div>

<div class="main-content">
  <div class="row">
    <div class="col-lg-6">
      <div class="card" [style]="{'width': '40rem','height': '31rem'}">
        <div class="card-header" >
          <h5 class="card-category1">{{cardSubTitle}}</h5>  
          <h4 class="card-title" pTooltip={{priceShockerDefinition}} style="width: 194px;">
             {{card1Title}}
          </h4>    
        </div>
        <div class="card-body">
          <div class="table-responsive"> 
            <table class="table" > 
              <thead class=" text-primary">
                <th [style]="{'width': '30rem'}" style="text-align: center;" *ngFor="let col of columnData">
                  {{col.label}}
                </th>
              </thead>
              <tbody >
                 <tr *ngFor="let element of priceShockers"> 
                  
                  <td style="font-weight: 550; color: black; text-align: left;">
                    {{element.companyName}}
                  </td>

                  <td style="color: black; text-align: center;">
                    {{element.sector}}
                  </td>

                  <td style="color: black; text-align: center;">
                    {{element.currentPrice | number : '.2-2'}}
                  </td>

                  <td *ngIf="element.percentageChange < 0"  style="color: #CC0000; font-weight: 450; text-align: center;">
                    {{element.percentageChange | number : '.2-2'}}
                  </td> 
                  <td *ngIf="element.percentageChange == 0"  style="color:black; font-weight: 450; text-align: center;">
                    {{element.percentageChange | number : '.2-2'}}
                </td>
                  <td *ngIf="element.percentageChange > 0" style="color: green; font-weight: 450; text-align: center;">
                      {{element.percentageChange | number : '.2-2'}}
                  </td> 
                
                </tr>
            
              </tbody>
            </table>
          </div> 
        </div>
     </div> 
    </div> 

    <div class="col-lg-4 col-md-6">
      <div class="card card-chart" [style]="{'width': '33rem' ,'height': '31rem'}">
          
          <div class="card-header">
            <h5 class="card-category2">{{cardSubTitle}}</h5>
            <h5 class="card-title" pTooltip={{volumeShockerDefinition}} style="width: 220px;" >
              {{card2Title}}
            </h5>
          </div>
         
          <div class="card-body"  >
            <div class="chart-area" [style]="{'height': '20rem'}">
                <canvas baseChart id="barChartSimpleGradientsNumbers"
                            [datasets]="volumeShockerGradientsNumbersData"
                            [labels]="volumeShockersGradientsNumbersLabels"
                            [colors]="volumeShockersGradientsNumbersColors"
                            [options]="volumeShockersGradientsNumbersOptions"
                            [chartType]="volumeShockersGradientsNumbersType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>  

          <div class="card-footer">
              <div class="stats"> 
                  <i class="now-ui-icons arrows-1_refresh-69"></i>  Just Updated
               </div> 
          </div>

      </div>
   
    </div>
  
</div>

